/* General Styles */
.container {
    width: 100%;
    position: relative;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    padding-top: 44px;
  }
  
  .header-logo {
    margin-left: 60px;
    width: 152px;
    height: 48px;
  }
  
  .header-buttons {
    margin-right: 50px;
  }
  
  .signup-button {
    width: 123px;
    height: 46px;
    border: 1px solid blue;
  }
  
  .login-button {
    width: 123px;
    height: 46px;
    background-color: #6460FF;
    color: white;
    margin-left: 20px;
    border: 3px solid white;
  }
  
  .center-section {
    display: flex;
    justify-content: center;
    gap: 540px;
    position: relative;
  }
  
  .left-circle {
    height: 274px;
    position: absolute;
    left: 0;
    top: 403px;
  }
  
  .center-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .center-title {
    text-align: center;
    color: #6460FF;
    font-size: 20px;
    font-weight: 600;
    padding-top: 184.9px;
  }
  
  .main-title {
    font-size: 90px;
    font-weight: 700;
    text-align: center;
    margin: 1px 0;
    line-height: 110%;
  }
  
  .description {
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    line-height: 160%;
    color: #292929;
  }
  
  .create-event-button {
    background-color: #6460FF;
    width: 240px;
    height: 67px;
    text-align: center;
    color: white;
    padding: 20px 40px;
    border-radius: 6px;
  }
  
  .right-circle {
    height: 274px;
    position: absolute;
    right: 0;
    top: 125px;
  }
  
  /* Add more styles for other sections */
  



.carousell-container {
    width: 100%;
    height: 400px; /* Adjust based on the content of your carousel */
    overflow: hidden;
    position: relative;
  }
  
  
  .carousel-wrapper {
    display: flex;
    gap: 80px; /* 50px gap between images */
    animation: moveImages 12s infinite linear; /* Infinite loop of images */

    /* Ensure the carousel doesn't overflow */

    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
  
  
  }
  
  .carousel-wrapper img {
    width: 500px; /* Image size */
    height: auto;
    border-radius: 10px;
    object-fit: cover; /* Ensure the image maintains aspect ratio */
  }
  
  /* Animation for smooth movement and wrapping */
  @keyframes moveImages {
    0% {
      transform: translateX(0); /* Start at the initial position */
    }
    25% {
      transform: translateX(-250px); /* Move images to the left */
    }
    50% {
      transform: translateX(-500px); /* Continue moving left */
    }
    75% {
      transform: translateX(-750px); /* Continue moving left */
    }
    100% {
      transform: translateX(-1000px); /* Move all the way to the left */
    }
  }
  